/* Modal.css */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60%;
  padding: 30px;
  background: white;
  border-radius: 5px;
}
#add-review-form{
  background-color: white;
}