/*body {
  display:flex;
  justify-content: center;
  align-items: center;
}
*/
/*PRODUCT DETAIL */
.product-wrapper {
  display:grid;
  gap:20px;
  grid-template-columns: minmax(50%, 66%) minmax(25%, 33%);
  margin: 0 auto;
  width: 70%;
  position:relative;

}
.first-column{
  grid-column: 1;
  height: 650px;
  position: relative;
  z-index: 1;
}

.first-column  .mainImage{
  cursor: zoom-in;
  position: relative;
}

.first-column-expanded{
  grid-column:  1 / span 2;
  width:100%;
  object-fit: cover;
  height: 650px;
  position: relative;
  overflow: visible;
  z-index: 2;
}

.first-column-expanded img{
  transform: translate(100px);
  scale: 2.5;

  object-fit:cover;
}


#mainImageLeftButton{
  position: absolute;
  top: 50%;
  z-index: 50;
}

#mainImageRightButton {
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 50;
}



#productImage{
  /*object-fit: cover;*/
}
.second-column {
  display: grid;
  grid-column: 2;
  grid-template-rows: 1fr 1fr 1fr;
  position:relative;
  z-index: 5;
}

.gallery-container {
  grid-column: 1;
  position: relative;
  max-height: 1000px;
}

.mainImage{
  height:650px;

  position: relative;
}
/*
.mainImage img{
  width: auto;
  height: 650px;
  object-fit: cover;
  display: grid;
  z-index: 10;
}
*/

.product-slogan{
  display: grid;
  grid-column: 1 / span 2;
}

.thumbnailDiv {
  position: absolute;
  top: 36px;
  left: 20px;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 20px);
  overflow-y: auto;
  z-index: 10;
  scrollbar-width: none;
}

.thumbnail-gallary {
  height: 100px;
  object-fit: cover;
}

.thumbnail-gallary img{
  border: 1px solid black;
  border-radius: 4px;
  height: 60px;
  width: 60px;
  object-fit: cover;
}

#selectedThumbnail {
  border-bottom: 5px solid #b25930;
}


p {
    font-size: 30px;
    display: flex;
    justify-content: center;
}
button{
  border:1px;
  border-style: solid;
  background-color: rgb(255, 255, 255)
}
button:hover{
  background-color: lightgray;
}
.add-to-cart-button:hover{
  background-color: darkred;
}
.add-to-cart-button{
  background-color: red;
}

/*STYLE SELECTOR*/
.style-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



.style-selector-image-crop {
  width: 78px;
  height: 73px;
  margin: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px black;
}
.style-image{
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*ADD TO CART */
.addToCart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width:500px;
}

#size-select {
  width: 50%;
  padding: 10px;
}

#quantity-select {
  width: 30%;
  padding: 10px;
  margin-left:8px;

}

.bottom-row{
  display: flex;
  justify-content: space-between;
}
#addToCartBtn {
  width: 70%;
}

#starHeartBtn {
  width: 15%;
  margin-left:8px;
}


.product-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}

.description {
  flex: 3;
  border-left: 1px solid #8a6262;
  padding-left: 20px;
}

.info-list {
  flex: 6.5;
}
