body {
  display:flex;
  justify-content: center;
  align-items: center;
}

.product-wrapper {
  display:grid;
  gap:1.5rem;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  width: 80%;
}

/*PRODUCT DETAIL */
.mainImage {
  grid-column: 1;
  position: relative;
}

.mainImage img{
  width: 650px;
  height: 650px;
  object-fit: cover;
  display: block;
}

.thumbnailDiv {
  position: absolute;
  top: 40px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(100% - 20px);
  overflow-y: auto;
}

/*
.thumbnail:focus{
  border:2px solid red;
  padding: 5px;
}
*/

.thumbnail img{
  border: 1px solid black;
  border-radius: 4px;
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.second-column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

p {
    font-size: 30px;
    display: flex;
    justify-content: center;
}
button{
  border:1px;
  border-style: solid;
  background-color: rgb(255, 255, 255)
}
button:hover{
  background-color: lightgray;
}
.add-to-cart-button:hover{
  background-color: darkred;
}
.add-to-cart-button{
  background-color: red;
}

/*STYLE SELECTOR*/
.style-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



.style-selector-image-crop {
  width: 50px;
  height: 50px;
  margin:10px;
  position:relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px black;
}
.style-image{
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*ADD TO CART */
.addToCart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width:500px;
}

.topRow{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#size-select {
  width: 50%;
  padding: 10px;
}

#quantity-select {
  width: 30%;
  padding: 10px;
}

.bottom-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#addToCartBtn {
  width: 70%;
  padding: 10px;
}

#starHeartBtn {
  width: 15%;
  padding: 10px;
}