.star-graph-label {
  display: inline;
  font-size: medium;
}

.rounded-rating-text {
  font-size: 40px;
}

.star-breakdown:hover,
.star-breakdown-selected {
  background: lightgrey;
}

.stars-span {
  vertical-align: top
}

.star-graph-empty,
.star-graph-full {
  height: 10px;
  width: 10px;
  margin: 3px, 0px;
  outline: 1px;
  display: inline-block;
}

.star-graph-empty {
  background: gray;

}

.star-graph-full {
  background: green;
}

.modal-thumbnail {
  object-fit: contain;

}

#modal-fullscreen {
  display: none;
  position: fixed;
  z-index: 1;
  /*padding-top: 100px;*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  justify-content: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-fullscreen-image {
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #fefefe;
  margin: auto;
  padding: auto;
  border: 1px solid #888;
  width: 80%;
  display: block;
}

#modal-close-button {
  color: white;
  background-color: red;
  border: black;
  border-style: solid;
  border-width: 5px;
  top: 0;
  right: 0;
  /*float: right;*/
  position: fixed;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: top;
}

.modal-thumbnail img {
  margin: 10px;
  width: 75px;
  border: solid;
  border-width: 5px;
}

.reviewer-recommendation-percent {
  margin: 10px;
  height: 20px;
  font-size: medium;
}

.reviewer-recommendation-percent {
  display: block;
  /*width: 200px;*/
  /*height: 50px;*/
  margin-bottom: 50px;
}

.ratings-and-reviews-heading {
  font-size: x-large;
  margin-left: 10px;
}

.review-entry {
  width: 80%;
  margin: 10px;
  border-style: solid;
}

.review-entry-title {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}

.entry-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-response {
  background-color: lightgrey;
  margin-left: 10%;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
}

.review-entry-date {
  padding-left: 10px;
}

.review-entry-text {
  margin: 5px;
  margin-bottom: 10px;
}

.reviewer-name {
  text-align: right;
  background-color: rgb(241, 224, 185);
  /*border-radius: 10px;*/
  font-weight: bold;
  /*padding: 5px;*/
  vertical-align: top;

}

#add-review-form-modal-close-button {
  color: white;
  background-color: red;
  border: black;
  border-style: solid;
  border-width: 5px;
  top: 0;
  right: 0;
  /*float: right;*/
  position: fixed;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: top;
  position: absolute;
  z-index: 1;
}


.ratings-and-review-container {
  grid-template-columns: 32% 64%;
  display: grid;
}

.slider-segment {
  background-color: red;
  height: 10px;
}

.slider-label {
  height: 10px;
  text-align: center;
}

.slider-title {
  font-size: x-large;
}

.rating-breakdown,
.size-comfort {
  margin-left: 10px;
}

.add-review-form {
  margin: auto;
  padding: auto;
  justify-content: center;
}
#Review-Body{
  width: 250px;
  height: 200px;
}

.form-group {
  margin: auto;
  padding: auto;
  margin: 20px;
}

.cloudinary-navbar{
  background-color: aqua;
}